body {
  overscroll-behavior: none;
}

.mainContent {
  height: 1000px;
}

.minHeight1000 {
  min-height: 1000px;
}

.minHeight800 {
  min-height: 800px;
}

.parallaxIntro {
  background: url("https://images.unsplash.com/photo-1535919020263-f79f5313f336?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meBackground {
  background: linear-gradient(
      135deg,
      hsl(196, 76%, 31%, 0.35),
      hsl(175, 52%, 31%, 0.55)
    ),
    url("../images/Me.jpg") no-repeat 40% 20% / cover;
  object-position: -20% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.contentFont {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 50px;
  top: 0;
  color: white;
  background-color: #f7484e;
  height: 100vh;
}

.sectionName {
  display: flex;
  font-family: Playfair Display;
  font-size: 50px;
  text-align: center;
}

.navigationPane {
  font-family: Playfair Display;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  color: white;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 50px;
  top: 0;
  color: white;
  background-color: #292929;
  height: 100vh;

  /* background: linear-gradient(
      135deg,
      hsl(196, 76%, 31%, 0.35),
      hsl(175, 52%, 31%, 0.55)
    ),
    url("../images/CourtneyMeOliveGrace.jpg") no-repeat 40% 20% / cover; */
  /* Remove the height attribute for original functionality */
  height: 100vh;
}

.contact {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;

  background: linear-gradient(
      135deg,
      hsl(196, 76%, 31%, 0.35),
      hsl(175, 52%, 31%, 0.55)
    ),
    url("../images/ContactImage.jpg") no-repeat 40% 20% / cover;
  object-position: -20% 0;
  background-repeat: no-repeat;
  /* Remove the height attribute for original functionality */
  height: 100vh;
}

.contentSection {
  min-height: 2000px;
}
