/* body {
  overscroll-behavior: none;
}

body {
  overflow: auto;
} */

p {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 0;
}

.noWrap {
  white-space: nowrap;
}

.navigationLinks {
  padding: 0;
}

.navigationLinks-1 li,
.navigationLinks-2 li {
  display: inline;
  cursor: default;
}

.navigationLinks-1 li:not(:first-of-type)::before,
.navigationLinks-2 li:not(:first-of-type)::before {
  content: "/";
}

.navigationLinks-1 li a {
  color: white;
  text-decoration: none;
}

.navigationLinks-2 li a,
.mobileNavigationLinks li a {
  color: black;
  text-decoration: none;
}

.navigationLinks-1 li a:hover,
.navigationLinks-2 li a:hover,
.mobileNavigationLinks li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.mobileNavigationLinks {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}

.minHeight1000 {
  min-height: 1000px;
}

.minHeight800 {
  min-height: 800px;
}

.parallaxIntro {
  position: relative;
  /* background: url("https://images.unsplash.com/photo-1535919020263-f79f5313f336?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat fixed; */
  /* background-size: cover; */
  /* justify-content: center;
  align-items: center; */
  /* background: url("../images/Me.jpg") no-repeat fixed 40% 20% / cover; */
  background: url("../images/Me.jpg") no-repeat 40% 20% / cover;
  min-height: 85vh;
  height: 85vh;
  overflow: hidden;
}
@media screen and (min-width: 0px) {
  #introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: Playfair Display;
    font-size: 50px;
    color: white;
  }
}

@media screen and (min-width: 1292px) {
  #introduction {
    margin-left: 900px;
  }
}

@media screen and (min-width: 959px) and (max-width: 1291px) {
  #introduction {
    margin-left: 600px;
  }
}

@media screen and (min-width: 790px) and (max-width: 958px) {
  #introduction {
    margin-left: 500px;
  }
}

@media screen and (min-width: 616px) and (max-width: 789px) {
  #introduction {
    margin-left: 450px;
  }
}

@media screen and (min-width: 526px) and (max-width: 615px) {
  #introduction {
    margin-left: 300px;
  }
}
@media screen and (min-width: 500px) and (max-width: 525px) {
  #introduction {
    margin-left: 250px;
  }
}
@media screen and (min-width: 0px) and (max-width: 499px) {
  #introduction {
    margin-top: 100px;
  }
}

#introductionTextDiv {
  /* background: linear-gradient(
    135deg,
    hsl(196, 76%, 31%, 0.1),
    hsl(175, 52%, 31%, 0.1)
  );
  box-shadow: 0 0 8px 8px hsl(175, 52%, 31%, 0.1) inset;
  border-radius: 20%; */
  text-align: center;
}

#introductionPart1 {
  font-size: 35px;
  font-style: italic;
}

.hiAnimation {
  position: absolute;
  animation-name: hi;
  animation-duration: 1s;
  /* margin-top: 4em;
  margin-left: 4em; */
  margin-top: 15%;
  margin-left: 25%;
}

@keyframes hi {
  from {
    margin-top: 0%;
    margin-left: 0%;
  }
  to {
    margin-top: 15%;
    margin-left: 25%;
  }
}

.imChrisAnimation {
  position: absolute;
  animation-name: imchris;
  animation-duration: 1s;
  /* bottom: 4em;
  right: 4em; */
  bottom: 50%;
  right: 10%;
}

@keyframes imchris {
  from {
    bottom: 0%;
    right: 0%;
  }
  to {
    bottom: 50%;
    right: 10%;
  }
}

.meBackground {
  background: linear-gradient(
      135deg,
      hsl(196, 76%, 31%, 0.35),
      hsl(175, 52%, 31%, 0.55)
    ),
    url("../images/Me.jpg") no-repeat 40% 20% / cover;
  object-position: -20% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.contentFont {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fcf6f5ff;
  padding: 2rem;
}

.contentSection {
  min-height: 100vh;
}

.sectionContentTitle {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.testimonialContent {
  font-style: italic;
}

.testimonialName {
  text-align: right;
  width: 100%;
  font-weight: bold;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 50px;
  color: white;
  /* background-color: #292929; */
  background-color: #25274d;
  min-height: 100vh;
  max-height: 100vh;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 50px;
  color: white;
  /* background-color: #990011ff; */
  background-color: #2e9cca;
  min-height: 100vh;
  max-height: 100vh;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 50px;
  color: black;
  /* background-color: #d9d1cf; */
  background-color: #aaabb8;
  min-height: 100vh;
  max-height: 100vh;
}

.sectionName {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-family: Playfair Display;
  font-size: 50px;
  text-align: center;
}

@media screen and (min-width: 0px) {
  .navigationPane-1 {
    font-family: Playfair Display;
    display: flex;
    margin-top: auto;
    text-align: center;
    font-size: 13px;
    color: white;
  }

  .navigationPane-2 {
    font-family: Playfair Display;
    display: flex;
    margin-top: auto;
    text-align: center;
    font-size: 13px;
    color: black;
  }
}

@media screen and (min-width: 1027px) and (max-width: 1149px) {
  .navigationPane-1 {
    font-size: 15px;
  }

  .navigationPane-2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1231px) {
  .navigationPane-1 {
    font-size: 18px;
  }

  .navigationPane-2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1232px) and (max-width: 1435px) {
  .navigationPane-1 {
    font-size: 20px;
  }

  .navigationPane-2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1436px) {
  .navigationPane-1 {
    font-size: 25px;
  }

  .navigationPane-2 {
    font-size: 25px;
  }
}

.mobileNavigation {
  font-family: Playfair Display;
  display: flex;
  margin-top: auto;
  text-align: center;
  font-size: 25px;
  color: black;
}

.hamburgerButton {
  position: relative;
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 6vh;
  right: 3vw;
  z-index: 2000;
  box-shadow: 0 0.5rem 1.5rem gray;
  text-align: center;
  cursor: pointer;
}

.hamburgerCheckbox {
  display: none;
}

.hamburgerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburgerIcon,
.hamburgerIcon::before,
.hamburgerIcon::after {
  width: 1rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.hamburgerIcon::before {
  top: -0.4rem;
}
.hamburgerIcon::after {
  top: 0.4rem;
}

.hamburgerCheckbox:checked + .hamburgerButton .hamburgerIcon {
  background-color: transparent;
}

.hamburgerCheckbox:checked + .hamburgerButton .hamburgerIcon::before {
  top: 0;
  transform: rotate(135deg);
}
.hamburgerCheckbox:checked + .hamburgerButton .hamburgerIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

.modalTitle {
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .hamburgerButton {
    display: block;
  }
  .navigationPane-1,
  .navigationPane-2 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .hamburgerButton {
    display: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.imgWrapper {
  max-height: 100vh;
  overflow: hidden;
  border-radius: 25%;
}

.fadeUp {
  transform: translateY(10px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.in-view {
  transform: none;
  opacity: 1;
}

#contactSection {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  /*height: 90%;  Some other styling is pushing this down at 100, 90 seems to position it where I expect */
}

#linkedIn {
  height: 80px;
  width: 94px;
}

#email,
#resume {
  height: 90px;
  width: 90px;
}

/* Clear floats after image containers */
.imageRow::after {
  content: "";
  clear: both;
  display: table;
}

.imageColumn {
  float: left;
  width: 50%;
  padding: 5px;
}
